.nft__button {
  padding: 15px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
}

.nft__button-text {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 249px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.nft__button:hover {
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 320px) {
  .nft__button {
    grid-row: 6;
  }
}
