.place__button {
  grid-column: 1;
  grid-row: 3/ 4;
}
.ntf__button {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
}

.ntf__button:hover {
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 320px) {
  .ntf__button {
    grid-row: 6;
  }
}
