.photo-grid {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 16px;
  margin: 118px auto 92px;
  max-width: 1190px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 64px 24px 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
    margin: 38px 16px 62px;
    width: 80%;
  }
}

.photo-grid__gallery {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid__gallery {
    max-width: 100%;
    width: 100%;
  }
}
