.places-container {
  margin: 0 148px 10px;
  max-width: 987px;
}

@media screen and (max-width: 768px) {
  .places-container {
    margin: 0 24px 10px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places-container {
    margin: 0 24px 10px;
    max-width: 320px;
  }
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 48px 44px;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    gap: 28px 25px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    width: 100%;
    box-sizing: border-box;
  }
}
.place__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  text-align: left;
  line-height: 106%;
  color: #ffffff;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    grid-row: 1;
    font-size: 32px;
  }
}

.place__artist {
  max-width: 456px;
  align-content: flex-end;
  margin: 0;
}

.place__artist-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaaaaa;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .place__artist-title {
    grid-row: 2;
  }
}

.place__artist-name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .place__artist-name {
    grid-row: 3;
  }
}

.place__image {
  width: 100%;
  height: max-content;
  object-fit: contain;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-row: 2/3;
  grid-column: 1;
}

@media screen and (max-width: 320px) {
  .place__image {
    grid-row: 3;
    width: 100%;
    object-fit: cover;
    max-width: 320px;
  }
}

.place__image:hover {
  opacity: 0.5;
}

.place__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .place__text {
    grid-row: 4;
  }
}
.place__button {
  grid-column: 1;
  grid-row: 3/ 4;
}
