@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/photo.css");
@import url("../blocks/place.css");
@import url("../blocks/nft.css");
@import url("../blocks/footer.css");
